/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$font-family-serif: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$font-family-base: $font-family-serif;
@import "bootstrap";

body {
  background-image: url('oldp1.png');
  background-repeat: no-repeat;
  background-color: #85543c;
  background-size:500px 800px;
}

.town-crier-main {
  padding-top: 180px;
  padding-left: 100px;
  width: 400px;
  height: 800px;
}

dl {
  dt {
    float: left;
    text-align: left;
    padding-left: 20px;
  }
  dd {
    margin-left: 90px;
    clear: left;
  }
  dd.textarea {
    margin-left: 20px;
  }
  dd div.field_with_errors {
    display: inline;
  }
}
input[type="submit"] {
  font-size: large;
}
p.restart {
  position: absolute;
  top: 670px;
  left: 190px;
  font-size: large;
}
