// Place all the styles related to the start controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$font-family-serif: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$font-family-base: $font-family-serif;
@import "bootstrap";

body {
  background-image: url('town_crier/oldp1.png');
  background-repeat: no-repeat;
  background-color: #85543c;
  background-position: 350px -10px;
  background-size:500px 470px;
  padding-top: 70px;
  img { float: left; }
  .welcome {
    padding-left: 460px;
  }
  ul { list-style-type: lower-roman; }
}
