<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Hear ye! Hear ye!</h1>
  <h2>Town Crier has an announcement, <%= @contact.name %>.</h2>
  <p class="message-text">
  <%= @message_text %>
  </p>
  <p>
    Thanks for checking out Town Crier!
  </p>
</body>
</html>
