<!DOCTYPE html>
<html>
<head>
  <title>TownCrier</title>
  <%= stylesheet_link_tag    "town_crier/application", media: "all" %>
  <%= javascript_include_tag "town_crier/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
