<div class="proc-sent">
  <p id="notice"><%= notice %></p>

  <p>Thou message reached:</p>
  <p><%= list_recipients %></p>
  <p>Via: <%= list_media %></p>

  <p>Thank thee, Lord,<br>
     for thine patience.</p>
  <p>Hast thou another message?</p>
  <%= start_over %>
</div>
